html { 
  background: url(../img/car.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
	border: 2px solid black;
}

.nav a {
	color: black;
	text-transform: uppercase;
}


.all {
	font-family: 'Shift', sans-serif;
}
.about {
	color: white;
}
.me {
	color: white;
	font-size: 20px;
}

.rand {
	color: white;
	font-size: 20px;
}

.car a {
	color: black;
}