body {
     background-color: #F8F8FF;   
}

.all {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	text-align: center;
    cursor: default;
}

#name {
    float: right;
    text-transform: uppercase;
    color: white;
    padding-right: 40px;
}

.nav {
	text-align: left;
	padding: 8px;
	border: 3px solid;
	background-color: #4169E1;
}

#about {
    color:black;
    cursor: default;
}

.nav a {
	text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav a:visited {
    color: white;
}

.nav a:hover {
	color: black;
	text-decoration: none;
    cursor: pointer;
}

.nav .UL {
	margin: 2px auto;
}
.nav li {
	display: inline-block;
	margin-right: 10px;
	float: center;
    padding-right: 15px;
    border-right: 2px solid;
}

#content {
    margin-right: 240px;
    margin-left: 240px;
}

.mess {
/*
	border: 3px solid;
	border-radius: 25px;
*/
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    min-height: 60px;
    border-bottom: 2px solid #B8B8B8;
/*    background-color: white;*/
}

.mess h1 {
    padding: 10px;
	position: relative;
    font-weight: normal;
}
 
/*
#meee:hover {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;    
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
*/

#meee {
    border-radius: 50%;
}

.me {
	font-size: 20px;
}

.me h3 {
    margin-top: 10px;
    font-weight: normal;
}

.me img {
    width: 3.75%;
/*    width: 2.25%;*/
}

#emojis a {
    text-decoration: none;
    cursor: pointer;
}


.me p {
    margin: 10px;
}

* {
  margin: 0;
}

footer {
    text-align: center;
    bottom: 0;
    margin-top: 30px;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

#divider h1 {
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 400;
}

#hobby-content h1 {
    border-top: 1px solid #C0C0C0;
}

#divider {
/*
    margin-left: 300px;
    margin-right: 300px;
*/
    margin-left: 90px;
    margin-right: 90px;
    min-height: 437px;
}

#divider p {
    padding-top: 10px;
    line-height: 125%;
}

#image {
    padding-top: 10px;
}

#divider a {
    text-decoration: none;
    color: #3366FF;
    cursor: pointer;  
}

#fact_click {
    cursor: pointer;
    color: #3366FF;
}

#randfact {
    font-style: italic;   
}


