.indentation1 {
    padding-left: 36px;   
}

.indentation2 {
    padding-left: 70px;   
}

.indentation_blink {
    padding-left: 33px;   
}

.indentation_fantasy {
    padding-left: 288px;   
}

.indentation_about1 {
    padding-left: 181px;   
}

.indentation_about2 {
    padding-left: 244px;   
}

.indentation_car1 {
    padding-left: 153px;   
}

.indentation_car2 {
    padding-left: 216px;   
}
