.all {
	font-family: 'Shift', sans-serif;
}

.nav {
	text-align: center;
	padding: 4px;
	border-bottom: 1px solid;
	background-color: #4169E1;
}
.nav a {
	color: white;
	text-transform: uppercase;
}

.nav .UL {
	margin: 2px auto;
}

.nav li {
	display: inline-block;
	margin-left: 60px;
	margin-right: 60px;
	float: center;
}

.nav .UL .logo p {
	color: white;
	text-transform: uppercase;
}


.mess {
	border: 2px solid;
	margin: 25px;
	background-color: #F5F5F5;
}

.mess h1 {
	text-align: center;
	color: #4169E1;
}

.mess p {
	text-align: center;
}

.back .img {
	text-align: center;
}







