body {
    background-color: white;
}

.nav {
	text-align: center;
	padding: 5px;
}
.nav a {
	color: black;
	text-transform: uppercase;
}

.nav .UL {
	margin: 2px auto;
}
.nav li {
	display: inline-block;
	margin-left: 60px;
	margin-right: 60px;

}

.mess {
	border: 2px solid;
}

.mess h1 {
	text-align: center;
	color: #1E90FF;
}

.mess p {
	text-align: center;
}

.all {
	font-family: 'Shift', sans-serif;
	margin: auto;
}

.contact {
	border: 1px solid black;
}

.contact a {
	color: #00b0ff;
}

.contact h2 {
	color: navy;
}

h1 {
    color: navy;
}