.all {
	font-family: 'Shift', sans-serif;
	margin: auto;
}

.nav {
	text-align: center;
	padding: 4px;
	border-bottom: 1px solid;
	background-color: #F5F5F5;
}
.nav a {
	color: #1E90FF;
	text-transform: uppercase;
}

.nav .UL {
	margin: 2px auto;
}
.nav li {
	display: inline-block;
	margin-left: 60px;
	margin-right: 60px;
	padding: 3px;
	background-color: lightblue;
	border-radius: 4px;
	border: 1px solid #1E90FF;

}

.mess {
	border: 2px solid;
	margin: 25px;
	background-color: #F5F5F5;
}

.mess h1 {
	text-align: center;
	color: #4169E1;
}

.mess p {
	text-align: center;
}

.back .img {
	text-align: center;
}







