.all {
	font-family: 'Shift', sans-serif;
    cursor: default;
}

.nav {
	text-align: center;
	padding: 8px;
	border: 3px solid;
	background-color: #4169E1;
}

#projects {
    color: black;
    cursor: default;
}

#resume:hover {
    color: black;
}

.nav a {
	text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav a:visited {
    color: white;
}

.nav a:hover {
	color: black;
	text-decoration: none;
    cursor: pointer;
}

.nav .UL {
	margin: 2px auto;
}

.nav li {
	display: inline-block;
	margin-left: 60px;
	margin-right: 60px;
	float: center;
}

.mess {
	border: 2px solid;
	border-radius: 25px;
    margin: 20px;    
	background-color: #F5F5F5;
}

.mess h1 {
    padding: 10px;
	text-align: center;
    font-weight: normal;
}

/* Sticky Footer */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
  margin-bottom: -142px; 
}

.content:after {
  content: "";
  display: block;
}

.copy, .content:after {
  height: 100px; 
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}






