.all {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    cursor: default;
    text-align: center;
}

#name {
    float: right;
    text-transform: uppercase;
    color: white;
    padding-right: 40px;
}

.nav {
	text-align: left;
	padding: 8px;
	border: 3px solid;
	background-color: #4169E1;
}

#projects {
    color: black;
    cursor: default;
}

#resume:hover {
    color: black;
}

.nav a {
	text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav a:visited {
    color: white;
}

.nav a:hover {
	color: black;
	text-decoration: none;
    cursor: pointer;
}

.nav .UL {
	margin: 2px auto;
}

.nav li {
	display: inline-block;
	margin-right: 10px;
	float: center;
    padding-right: 15px;
    border-right: 2px solid;
}

.mess {
	border: 3px solid;
	border-radius: 25px;
    margin: 20px;    
	background-color: #F5F5F5;
    min-height: 60px;
}

.mess h1 {
    padding: 10px;
	text-align: center;
    font-weight: normal;
}

* {
  margin: 0;
}

footer {
    text-align: center;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

#content h2, h3 {
    font-weight: normal;
}

#content h3 {
    line-height: 50px;   
}

#content a {
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    color: #3366FF;
    margin: 2px auto;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 2px solid black;
    border-left: 2px solid black;
}





